.bookDetailsContainer {
  padding: 30px 70px 0 70px;
  position: relative;
  .upperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    .cover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .upperRight {
      border-bottom: 1px solid rgb(0, 0, 0, 0.1);
      margin: 0 60px 0 60px;
      width: 45%;
      p:first-child {
        font-size: 38px;
        margin-top: 0;
      }
      p:nth-child(3) {
        font-size: 20px;
        font-style: italic;
        letter-spacing: 0.5px;
      }
      p:nth-child(4) {
        font-size: 25px;
      }
      .buttonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .shareDetails {
          width: 30%;
          display: flex;
          justify-content: space-between;
          span {
            height: 25px;
            border-radius: 50%;
            overflow: visible;
            padding: 10px;
            background-color: rgb(236, 237, 237);
            transition-duration: 0.3s;
            border: 1px solid #000;
            cursor: pointer;
          }
          .image{
            cursor: pointer;
          }
          span:hover {
            transition-duration: 0.3s;
            transition-delay: 0.2s;
            border: 1px solid rgb(202, 193, 193);
            background-color: rgb(202, 193, 193);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
        }
      }
    }
  }
  .lowerContainer {
    position: absolute;
    bottom: -24rem;
    z-index: -1;
    background-color: #f7f6f6;
    min-height: 330px;
    display: flex;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    justify-content: center;
    padding: 120px 20px 0 20px;
    margin: 0 60px 0 5px;
    gap: 100px;
    .lowerLeft {
      width: 60%;
      .descriptionData {
        p:first-child {
          font-size: 18px;
          font-weight: 600;
        }
        p:last-child {
          font-size: 15px;
          width: 90%;
          line-height: 1.6;
        }
      }
      .reviewList .reviewBody {
        display: flex;
        img {
          border-radius: 50%;
          margin-right: 20px;
        }
      }
    }
    .lowerRight {
      p:first-child {
        font-size: 18px;
        font-weight: 600;
      }
      p:last-child {
        font-size: 15px;
      }
    }
  }
}
