.discoverComponent {
    padding: 10px 30px 0 30px;
    .title {
      font-size: 45px;
      margin: 20px 0;
    }
    .subtitle {
      font-size: 20px;
      max-width: 55%;
      margin: 20px 0;
    }
    a {
      text-decoration: none;
    }
    .button {
      font-size: 15px;
      letter-spacing: 1px;
      cursor: pointer;
      background: #000;
      color: #fff;
      padding: 12px;
      font-family:cursive;
    }
    .button:hover {
      background: rgb(242, 153, 98);
      color: #000;
    }
    .slickArrows {
      display: flex;
      justify-content: flex-end;
      img {
        cursor: pointer;
        margin-right: 20px;
        border-radius: 50%;
        padding: 20px;
        overflow: visible;
        border: 1px solid rgb(192, 193, 195);
      }
    }
    .carouselItem {
      margin-top: 40px;
      outline: none;
      img {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition-timing-function: ease-in;
        transition-duration: 0.2s;
      }
      img:hover {
        transition-duration: 0.2s;
        transform: scale(1.1);
        transition-delay: 0.3s;
        filter: grayscale(100%);
      }
      P {
        max-width: 70%;
        font-size: 20px;
      }
    }
  }
  