.footerBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;
    background: rgb(222, 216, 216);
    margin-top: 5rem;
    .socialLinks{
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1.5rem 0 1.5rem 0;
        svg{
            cursor: pointer;
            height: 1.4rem;
            width: 1.4rem;
            color: #fff;
            background: #000;
            border-radius: 50%;
            padding: 7px;
            overflow: hidden;
        }
    }
    .infoLinks{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        padding-bottom: 0.5rem;
        a{
            text-decoration: none;
            color: #000;
            font-size: 12px;
        }
    }
    .copyright{
        @extend .infoLinks;
        gap: 0;
        font-size: 15px;
    }
}