.headerComponent {
  position: sticky;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 1rem 4rem;
  &.showBackground {
    background: linear-gradient(
      to right,
      rgb(239, 242, 245,0.96) 0%,
      rgb(239, 242, 245,0.96) 34.75%,
      rgb(235, 233, 233,0.96) 34.75%,
      rgb(228, 227, 227,0.96) 100%
    );
  }
  .leftHeader {
    position: relative;
    img {
      position: absolute;
      top: 10px;
      left: 5%;
    }
    input {
      width: -webkit-fill-available;
      min-width: 400px;
      height: 35px;
      padding: 3px;
      border: 1px solid rgb(0, 0, 0, 0.1);
      background: rgb(228, 233, 238);
      font-size: 14px;
      outline: none;
      cursor: pointer;
      text-indent: 45px;
    }
    input::placeholder {
      padding: 5px;
    }
    input:hover {
      transition-duration: 0.5s;
      background: rgb(239, 242, 245);
    }
    .listItem {
      background: #fff;
      padding: 0;
      margin: 0;
      border: 1px solid rgb(0, 0, 0, 0.2);
      position: absolute;
      z-index: 2;
      max-height: 400px;
      overflow-y: scroll;
      min-width: 400px;
      li {
        list-style: none;
        padding: 15px;
        cursor: pointer;
      }
      li:hover {
        background: rgb(202, 193, 193);
      }
    }
  }
  .rightHeader {
    display: flex;
    align-items: center;
    img {
      cursor: pointer;
      margin-left: 40px;
    }
    a {
      text-decoration: none;
      p {
        font-size: 20px;
        color: #000;
        font-weight: 600;
      }
    }
    a:first-child {
      img {
        border-radius: 50%;
      }
    }
    a:last-child {
      display: flex;
      align-items: center;
      p {
        margin-top: -20px;
        margin-left: -15px;
      }
    }
    button {
      padding: 12px;
      cursor: pointer;
      background: #000;
      color: #fff;
      border: none;
      font-family: cursive;
      letter-spacing: 1px;
      font-size: 15px;
      border: 1px solid #000;
    }
    button:hover {
      background: #fff;
      color: #000;
    }
  }
}
