.homeContainer {
  padding: 10px 30px 0 30px;
  .upperContainer {
    display: flex;
    gap: 100px;
    margin: 20px 0;
    .leftContainer {
      width: 45%;
      .title {
        font-size: 55px;
      }
      .subtitle {
        font-size: 20px;
        margin: 20px 0;
      }
      a {
        text-decoration: none;
      }
      .button {
        font-size: 15px;
        letter-spacing: 1px;
        cursor: pointer;
        background: #000;
        color: #fff;
        padding: 12px;
        font-family:cursive;
      }
      .button:hover {
        background: #fff;
        color: #000;
      }
    }
    .rightContainer {
      width: 50%;
      .bookContainer {
        display: flex !important;
        .description {
          padding: 0px 100px 0 50px;
          .title {
            font-size: 30px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .lowerContainer {
    display: flex;
    .lowerLeftContainer {
      max-width: 60%;
      .header {
        display: flex;
        align-items: center;
        padding-top: 30px;
        gap: 20px;
        .title {
          font-size: 22px;
        }
      }
      .items {
        display: flex;
        .carouselItem {
          margin-top: 10px;
          outline: none;
          display: flex;
          flex-direction: column;
          img {
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition-timing-function: ease-in;
            transition-duration: 0.2s;
          }
          img:hover {
            transition-duration: 0.2s;
            transform: scale(1.1);
            transition-delay: 0.3s;
            filter: grayscale(100%);
          }
          p {
            width: 60%;
            font-size: 15px;
          }
        }
      }
    }
    .lowerRightContainer {
      max-width: 40%;
      padding: 10px 30px 0 30px;
      .header {
        p {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
      .reviewList {
        max-height: 300px;
        overflow-y: scroll;
        .reviewBody {
          display: flex;
          img {
            border-radius: 50%;
          }
          .description {
            padding: 0 30px;
            p:first-child {
              font-size: 20px;
              font-weight: 500;
            }
            p:nth-child(2) {
              font-size: 15px;
              font-style: italic;
            }
            p:last-child {
              font-size: 16px;
              color: rgb(248, 107, 20);
            }
          }
        }
      }
      ::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
 .homeContainer{
  .upperContainer{
    flex-direction: column;
    .leftContainer{
      width: 100%;
    }
    .rightContainer{
      width: 100%;
    }
  }
  .lowerContainer{
    flex-direction: column;
    .lowerLeftContainer{
      max-width: 100%;
      .items{
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }
 } 
}