.homeContainer {
  // padding: 10px 30px 0 30px;
  padding: 1rem 4rem 0 4rem;
  .upperContainer {
    display: flex;
    gap: 100px;
    margin: 20px 0;
    .leftContainer {
      width: 90%;
      .title {
        font-size: 50px;
      }
      .subtitle {
        font-size: 20px;
        margin: 20px 0;
      }
      a {
        text-decoration: none;
      }
      .button {
        font-size: 15px;
        letter-spacing: 1px;
        cursor: pointer;
        background: #000;
        color: #fff;
        padding: 12px;
        font-family: cursive;
      }
      .button:hover {
        background: rgb(202, 193, 193);
        color: #000;
      }
    }
  }
  .lowerContainer {
    display: flex;
    .lowerLeftContainer {
      .header {
        display: flex;
        align-items: center;
        padding: 30px 0;
        gap: 20px;
        .title {
          font-size: 28px;
        }
      }
      .items {
        display: flex;
        .carouselItem {
          margin-top: 10px;
          outline: none;
          display: flex;
          flex-direction: column;
          img {
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition-timing-function: ease-in;
            transition-duration: 0.2s;
          }
          img:hover {
            transition-duration: 0.2s;
            transform: scale(1.1);
            transition-delay: 0.3s;
            filter: grayscale(100%);
          }
          p {
            width: 70%;
            font-size: 20px;
          }
        }
      }
    }
    .lowerRightContainer {
      max-width: 40%;
      padding: 10px 30px 0 30px;
      .header {
        p {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .booksCarousel {
    background: rgb(239, 242, 245);
    margin: 5rem 0;
    background: linear-gradient(
      to right,
      rgb(228, 227, 227) 0%,
      rgb(228, 227, 227) 33%,
      rgb(239, 242, 245) 33%,
      rgb(239, 242, 245) 100%
    );
    .bookContainer {
      display: flex !important;
      padding: 3rem;
      .description {
        padding: 0 5rem 0 10rem;
        .title {
          font-size: 30px;
          font-weight: 500;
        }
        .shortDescription {
          width: 70%;
        }
      }
    }
  }
}
