.loginContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 1;
  height: 570px;
  width: 800px;
  background: #fff;
  top: 6rem;
  left: 25%;
  background: linear-gradient(
    to right,
    rgb(228, 227, 227) 0%,
    rgb(228, 227, 227) 30%,
    rgb(239, 242, 245) 30%,
    rgb(239, 242, 245) 100%
  );
  .loginHeader {
    display: flex;
    justify-content: space-around;
    span {
      width: 50%;
      border-bottom: 1px solid rgb(0, 0, 0, 0.3);
      border-left: 1px solid #ccc;
      padding: 25px 0;
      outline: none;
      cursor: pointer;
      text-align: center;
    }
    span:hover{
        background: rgb(202, 193, 193);
    }
    .selected {
    //   box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2),
    //     inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5);
      border-bottom: 3px solid #000;
    }
  }
  .loginBody {
    min-height: 400px;
  }
  .loginFooter {
    display: flex;
    justify-content: space-around;
  }
}
