.loginContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  min-height: 550px;
  height: auto;
  max-width: 800px;
  width: auto;
  background: #fff;
  background: linear-gradient(
    to right,
    rgb(228, 227, 227) 0%,
    rgb(228, 227, 227) 30%,
    rgb(239, 242, 245) 30%,
    rgb(239, 242, 245) 100%
  );
  .loginHeader {
    display: flex;
    justify-content: space-around;
    span {
      width: 50%;
      font-size: 20px;
      font-weight: 600;
      border-bottom: 1px solid rgb(0, 0, 0, 0.3);
      border-left: 1px solid #ccc;
      padding: 25px 0;
      outline: none;
      cursor: pointer;
      text-align: center;
    }
    span:hover {
      background: rgb(202, 193, 193);
    }
    .selected {
      border-bottom: 2px solid #000;
    }
  }
  .loginBody {
    min-height: 380px;
    form{
      margin: 5rem 10rem 0 10rem;
      svg{
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 15.8rem;
        right: 10rem;
      }
    }
  }
  .loginFooter {
    display: flex;
    justify-content: space-around;
    margin: 5rem 0 2rem 0;
    button{
      margin: 0 30px;
    }
  }
}
